link(href="/libs/bootstrap/dist/css/bootstrap.min.css", rel="stylesheet")
link(href="/css/home.css", rel="stylesheet")
link(href="/css/lightBox.css",rel="stylesheet")
script(src="/libs/jquery/dist/jquery.min.js",type="text/javascript")
script(src="/libs/bootstrap/dist/js/bootstrap.js",type="text/javascript")
script(src="libs/jquery-validation/dist/jquery.validate.min.js",type="text/javascript")
script(src="libs/jquery-validation/dist/localization/messages_zh.js",type="text/javascript")
 link(href="/libs/video.js/dist/video-js.css" rel="stylesheet")
script(src="/libs/video.js/dist/video.min.js",type="text/javascript")
