extends ../layout

block content
  .container
    .row
      .col-md-5
        image(src="http://res.cloudinary.com/dyb29pfpm/image/upload/v1493549978/timg_2_xykrnr.jpg")
        form(method="POST",action="/user/signup/",id="signupform")
          //- 注册
          .modal-body
            .form-group
              label(for="username")
              .col-sm-3
                .sign_size.glyphicon.glyphicon-user 学校:
              input#username.form-control(name="user[name]",type="text",placeholder="请输入学校全称")
            .form-group
              label(for="acmgroup")
                .sign_size.glyphicon.glyphicon-star 队名:
              input#acmgroup.form-control(name="user[acmgroup]",type="text",placeholder="请输入队伍名称")
            .form-group
              label(for="acmcaptain")
                .sign_size.glyphicon.glyphicon-user 队长:
              input#acmcaptain.form-control(name="user[acmcaptain]",type="text",placeholder="请输入真实姓名")
            .form-group
              label(for="username")
                .sign_size.glyphicon.glyphicon-user 队员:
              input#username.form-control(name="user[acmmember1]",type="text",placeholder="请输入真实姓名")
            .form-group
              label(for="username")
                .sign_size.glyphicon.glyphicon-user 队员:
              input#username.form-control(name="user[acmmember2]",type="text",placeholder="请输入真实姓名")
            .form-group
              label(for="username")
                .sign_size.glyphicon.glyphicon-phone 联系电话:
              input#username.form-control(name="user[acmphone]",type="text",placeholder="请输入真实联系电话")
            .form-group
              label(for="userpassword")
              .col-sm-3
                .sign_size.glyphicon.glyphicon-adjust QQ:
              input#userpassword.form-control(name="user[password]",type="text",placeholder="请输入QQ")
            button.btn.btn-success(type="submit") 提交