extends ../layout

block content
	.container
		.col-md-3
			ul.list-group
				div(style="background-color:#e00010;color:#fff").list-group-item 热门活动
				a(href="#").list-group-item 东湖磨山义工
				a(href="#").list-group-item 小红袄服务队
				a(href="#").list-group-item 啄木鸟维修队
		.col-md-9
			.collapse.navbar-collapse#bs-example-navbar-collapse-1
				ul.nav.navbar-nav
					li.active
						a(href="#") 全部
					li
						a(href="#") 最新
					li
						a(href="#") 精华
					li
						a(href="#") 排行
				form.navbar-form.navbar-left
					a(role="button",class="btn",style="background-color:#e00010;color:#fff",href="/post") 发帖
			.panel.panel-default
				.panel-body
					.row 
						each item in posts
							.caption
								h3 #{item.title}
									span
										a.btn(href="/post/#{item._id}",role="button",style="background-color:#e00010;color:#fff;float:right") 查看详情
