extends ../layout

block content
  section.about
    .container
      .row
        .col-md-3
          .list-group#about-list
            a.list-group-item 关于我们
            a.list-group-item 团队合作
            a.list-group-item.active(href="#") 联系我们
        .col-md-9#about-content
          .about-content.about-padding(style="display: none;")
            h1 关于我们
            dl.us-list
              dt 我们是谁
              dd 我们是华中科技大学义务提供志愿服务的团体,以华中大义工部为核心的学生组织
              dt 我们的主要工作
              dd 我们的工作主要分为校内义工和校外义工,方面涉及广泛,涵盖了地铁,医院,学校,养老院,残障学校等各个场所,在一些大型的活动或者比赛上也能时常看到我们的身影,我们不仅为华科的学子们服务,也愿意为任何需要帮助的人伸出援助之手
              dt 如何参与我们的活动
              dd 我们的活动大部分都呈现在我们的主页上,支持大家线上报名,当然也可以通过qq群或者短信等方式,与我们联系报名
              dt 关于此网站
              dd 此网站为非盈利性网站,由软件学院义工部提供技术支持,建站初期,可能存在许多问题,欢迎指正,作为一个为公益而生的网站,希望网络安全大佬,不要手痒拿此网站小试牛刀,感谢你们高抬贵手
              dt 最终鸣谢
              dd 感谢中心义工部的支持,以及所有合作院系的信任与帮助
          .about-content.about-padding(style="display: none;")
            h1 团队大佬：华中科技大学义工部
            h2 团队成员: 软件学院义工部 外国语学院社会实践部 法学院义工部 人文学院青年志愿者协会
          .about-content.about-padding(style="display: none;")
            h1 联系我们
            h2 技术支持:Decade
            h2 发现bug:请发送邮件到邮箱 2456535090@qq.com
            h2 存在疑惑或者问题:请联系网站客服 QQ:2456535090
  script(src="../js/about.js")