extends ../layout

block content
	section.about
		.container
			.row
				.col-md-3
					.list-group#about-list
						a.list-group-item(href="#",style="background-color:#e00010;color:white") 控制台
						a.list-group-item(href="/") 首页
						a.list-group-item(href="/movie") 活动录入
						a.list-group-item(href="/post") 帖子录入
						a.list-group-item(href="/group") 活动列表
						a.list-group-item(href="/admin/user/list") 用户列表
						a.list-group-item(href="/postlist") 帖子列表
				.col-md-9#about-content
					.panel.panel-default
						.panel-heading(style="background-color:#e00010;color:white") 管理活动
						.panel-body
							.row 
								each item in movies
									.caption(style="font-size:20px")
										span #{moment(item.meta.updateAt).format('MM/DD/YYYY')}&nbsp;&nbsp;
										span #{item.title}
										span(style="float:right") 
											a.btn(href="/admin/movie/#{item._id}", role="button",style="background-color:#e00010;color:white") 管理
									hr